@page "/Berserk_ch5"

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Web

<h1>Berserk Chapter 5</h1>

<div class="image-container">
    <button class="arrow-button" @onclick="PreviousPage">&#8592;</button>

    <img src="@currentImage" alt="Image" class="centered-image" />

    <button class="arrow-button" @onclick="NextPage">&#8594;</button>
</div>

<style>
    .arrow-button {
        font-size: 24px;
        padding: 8px 16px;
        background-color: #DA9833;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .arrow-button:hover {
            background-color: #fc9f5c;
        }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centered-image {
        width: 40%;
        height: auto;
        margin: 0 16px;
    }
</style>

@code {
    private int currentIndex = 0;
    private string[] images = new[] { "/Berserk/CH1/Berserk v01 _Page_041.png", "/Berserk/CH1/Berserk v01 _Page_042.png", "/Berserk/CH1/Berserk v01 _Page_043.png", "/Berserk/CH1/Berserk v01 _Page_044.png", "/Berserk/CH1/Berserk v01 _Page_045.png",
    "/Berserk/CH1/Berserk v01 _Page_046.png","/Berserk/CH1/Berserk v01 _Page_047.png","/Berserk/CH1/Berserk v01 _Page_048.png","/Berserk/CH1/Berserk v01 _Page_049.png","/Berserk/CH1/Berserk v01 _Page_050.png",};

    private string currentImage => images[currentIndex];

    private void NextPage(MouseEventArgs args)
    {
        currentIndex = (currentIndex + 1) % images.Length;
    }
    private void PreviousPage(MouseEventArgs args)
    {
        currentIndex = (currentIndex - 1) % images.Length;
    }
}
