@page "/Comic"


@using Syncfusion.Blazor.PdfViewer
@using Microsoft.AspNetCore.Components.Forms

<h3>PDF Viewer</h3>

<SfPdfViewer Height="600px" Width="1000px" DocumentPath="Ch_000_Prologue 1.pdf"></SfPdfViewer>

@code
{

}

@* @using Syncfusion.Blazor.PdfViewer

<h3>PDF Viewer</h3>

<SfPdfViewer Height="600px" Width="1000px" DocumentPath="Ch_000_Prologue 1.pdf"></SfPdfViewer>

 *@

@* <SfPdfViewer Height="500px" Width="100%" ServiceUrl="/api/PdfViewer">
    <PdfViewerAjaxSettings>
        <PdfViewerAjaxSetting 
            FileName="Ch_000_Prologue 1.pdf"
            FilePath="C:/Users/andre/Desktop/Ch_000_Prologue%201.pdf">
        </PdfViewerAjaxSetting>
    </PdfViewerAjaxSettings>
</SfPdfViewer>
 *@