@page "/CS"

<div class="image-container">

    <img src="/ComingSoon.png" alt="Image" class="Comeback-sign" />

</div>



<style>

    .Comeback-sign{
        width: 72%;
        height: auto;
        margin: 0 16px;
        background-color: white;
    }
</style>
